<!DOCTYPE html>
<html>
<head>
	<title th:text="${state.name}"></title>
</head>
<body>
	<header>
		<h1 th:text="${state.name}"></h1>
		<small th:text="${state.motto}"></small>
	</header>

	<main>
		<h2>
			State Fish:
			<a th:href="|@{/states/}${state.abbreviation}@{/fish}|" th:text="${state.fish}"></a>
		</h2>
		<ul>
			<li th:each="city : ${state.cities}">
				<a 
					th:href="|@{/states/}${state.abbreviation}@{/cities/}${city.id}|"
					th:text="${city.name}"
				></a><!-- /state/oh/cities/2 -->
			</li>
		</ul>
	</main>

	<footer>
		<small>&copy; State List 2018</small>
	</footer>
</body>
</html>